*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


html{
    font-family: Helvetica,Arial, sans-serif;
}
/*
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
/*
1 vị trí
2 kích thước(width, height)
3 màu sắc
4 kiểu dáng
*/
#main {

}


#header {
    height: 46px;
    background-color: #000
    ;

}

#nav .subnav{
    list-style-type: none;

}

#nav > li{
    display: inline-block;
}
#nav li {

  
    position: relative;
}

#nav > li > a{
     color: white;
     text-transform: uppercase;
}
#nav li a{
   
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
    
}


#nav .subnav{
    
    display: none;
    position:absolute;
    top:100%;
    left: 0;
    min-width: 160px;
    
    background-color: #fff;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 3) ;
    
}

#nav .subnav a{
    
    color: #000;    
    padding: 0 12px;
    line-height: 38px;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
   
}

#slider {
    
    
    

}




#content {

}


#footer {

}
